@import '../../../styles';

.collapsible {
  overflow: hidden;
}
.collapsible.show {
  max-height: 500px;
}

.rounded-top-card {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.outer-card {
  @extend .rounded-top-card;
  width: 100%;
  background-color: #fff;

  .inner-card {
    @extend .rounded-top-card;
    background-color: $primary;

    h2 {
      color: white;
    }
  }
}

.card-image {
  width: 100px;
  height: 100px;
  border-radius: 100%;
}
