<div class="card mat-elevation-z5">
  <h1>Login</h1>
  <div class="center">
    <img class="social-sign-in" role="button" src="/assets/google-sign-in.png" alt="Google Sign In" width="70%"
      (click)="googleSignIn()" />
  </div>
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <mat-form-field>
      <input matInput placeholder="Email" formControlName="email" />
      <mat-error *ngIf="email?.hasError('required')">
        Email is required
      </mat-error>
      <mat-error *ngIf="email?.hasError('email')">
        Email is invalid
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="password" placeholder="Password" formControlName="password" />
      <mat-error *ngIf="password?.hasError('required')">
        Password is required
      </mat-error>
    </mat-form-field>
    <div class="center margin-top">
      <button mat-raised-button type="submit" color="primary">Login</button>
    </div>
    <div class="login-footer">
      <a class="sign-up" routerLink="/sign-up">Sign up!</a>
      <a (click)="forgotPassword()"> Forgot Password?</a>
    </div>
  </form>
</div>