@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

$primary: #9294f8;
$highlight: #4b4eee;

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.card {
  display: block;
  margin: auto;
  max-width: 300px;

  background: #eceff1;
  border-radius: 16px;
  padding: 48px;

  mat-form-field {
    width: 100%;
  }

  h1 {
    text-align: center;
    margin-bottom: 32px;
  }
}

.card-md {
  @extend .card;
  max-width: 600px;
}

.full-width {
  width: 100%;
}

.bg-color-primary {
  background-color: $primary;
}

.bg-color-highlight {
  background-color: $highlight;
}

.border-color-primary {
  border: 3px solid $primary;
}

.border-color-highlight {
  border: 3px solid $highlight;
}

.flex {
  display: flex;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-justify-center{
  display: flex;
  justify-content: center;
}

.flex-align-center{
  display: flex;
  align-items: center;
}

.center-text {
  text-align: center;
}

.margin-top {
  margin-top: 16px !important;
}

.text-center {
  text-align: center;
}

// background image
// .bg-image-full {
//   position: relative;
//   overflow: hidden;
//   height: 100vh;
// }

// .bg-image-full::before {
//   content: "";
//   background: url("/assets/homebg.jpeg") no-repeat center center fixed;
//   -webkit-background-size: cover;
//   -moz-background-size: cover;
//   -o-background-size: cover;
//   background-size: cover;
//   position: absolute;
//   top: 0;
//   left: 0;
//   right: 0;
//   bottom: 0;
//   opacity: 0.5;
//   filter: blur(2px);
//   z-index: -1;
// }

.bg-video {
  position: relative;
  // overflow: hidden;
  height: 100vh;
}

.bg-video video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.5;
  z-index: -10;
}

.mat-mdc-snack-bar-container {
  &.green-snackbar {
    --mdc-snackbar-container-color: #00d41c;
    --mat-snack-bar-button-color: #fff;
    --mdc-snackbar-supporting-text-color: #ffffff;
  }

  &.red-snackbar {
    --mdc-snackbar-container-color: #ff0000;
    --mat-snack-bar-button-color: #fff;
    --mdc-snackbar-supporting-text-color: #ffffff;
  }
}
